.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
  width: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.feature-icon{
  background-color: #e7edef;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
}
body{
  overflow-x: hidden;
}
@media (max-width: 575px) {
  .greet{
    padding-bottom: 30px;
    padding-left: 8px;
  }
  .dog{
    display: inline-flex;
    margin-left: 3.2%;
    width: 93%;
    align-items: center;
    padding-top: 10vh;
  }
}
.review{
  padding: 10%;
}
.sponsor{
  margin-bottom: 20px;
}